---
import MainLayout from '../components/mainLayout.astro';
---
<MainLayout title="home page">
	<video autoplay muted loop class="background_video">
		<source src="./public/animationfull.mp4" type="video/mp4">
	</video> 
	<section class="main_section">
		<h1 class="name_header">sankalp tank</h1>
		<h3 class="sub_header">web developer, programmer, and data analyst who is really good and very smart 游때游때游때游때游땙游땙游땙</h3>
	</section>
</MainLayout>

<style>
	h1, h3{
		color: white;
		margin: 0; /* Remove default margin */
	}
	.main_section {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 2rem;
	}

	.background_video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		z-index: -1;
		background-color: black;
	}

	.name_header {
		position: relative;
		z-index: 1;
		font-size: 4rem; /* Bigger text (optional) */
	}
</style>
